# Ignore all executable files (Linux, Mac, Windows)
*.exe
*.out
*.bin
*.run
*.sh
*.app
*.asar

# Ignore Linux-specific directories
*.so
*.a
*.o
*.debug

# Ignore build and dist directories
dist/
build/
release-builds/
node_modules/
*.rar

# OS-specific files
.DS_Store
Thumbs.db

# Logs and other temp files
npm-debug.log*
*.log

# Ignore core dumps
core
*.core
*.pak
*.mobi-cashier-linux-x64/mobi-cashier
