# Ignore all executable files and app.asar
*.exe
*.asar

# Ignore build and dist directories
dist/
build/
release-builds/
node_modules/
*.exe
*.rar
# OS-specific files
.DS_Store
Thumbs.db

# Logs and other temp files
npm-debug.log*

resources/
*.app.asar