# Ignore all executable files (Linux, Mac, Windows)
*.exe
*.out
*.bin
*.run
*.sh
*.app
*.asar

# Ignore Linux-specific compiled files
*.so
*.a
*.o
*.debug

# Ignore build, distribution, and dependency directories
dist/
build/
release-builds/
node_modules/

# Archive and compressed files
*.rar
*.zip
*.tar.gz
*.iso
*.dmg

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
npm-debug.log*
*.log

# Ignore core dumps
core
*.core
*.pak

# Ignore specific directory
mobi-cashier-linux-x64/
mobi-cashier-linux-x64/mobi-cashier
